@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a {
  color: inherit;
}

/* font-family: "DM Sans", sans-serif; */
/* font-family: "Barlow Condensed", sans-serif; */
/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  font-family: "DM Sans", sans-serif;
}

.data {
  display: flex;
  align-items: center;
}
.address {
  margin-right: 20px;
}
/* .phoneNo {
} */
.header-btns {
  display: flex;
  align-items: center;
}
.h-btn {
  border: none;
  background-color: white;
  padding: 10px 10px;
  font-size: 14px;
  margin-right: 12px;
}

.lang {
  display: flex;
  align-items: center;
}
.lang > img {
  margin-right: 8px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: black;
  font-family: "DM Sans", sans-serif;
}
.brand {
  margin-right: 50px;
}
.brand img {
  width: 130px;
}
.nav-items {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.item {
  margin: 0 30px;
}
.nav-btn {
  border: none;
  background-color: white;
  color: black;
  padding: 12px 25px;
  letter-spacing: 1.3;
  margin-left: 15px;
}

/*HERO*/
.hero {
  background-image: url("hero.webp");
  height: 100vh;
}

.hero-cont {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8% 0 10% 0;
  font-family: "Barlow Condensed", sans-serif;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-h1 {
  color: #e9ad28;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
}
.hero-h2 {
  color: white;
  font-weight: 800;
  font-size: 70px;
  text-align: center;
  width: 800px;
  margin: 5% 0;
}
.hero-form {
  display: flex;
  align-items: center;
  height: 120px;
  width: 900px;
  background-color: white;
  justify-content: space-between;
  padding-left: 5%;
  margin-top: 2%;
}
.hero-form-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 20px 0;
  font-weight: 500;
}
.hero-form-item > p {
  color: rgb(122, 122, 122);
}
.hf-input1 {
  color: gray;
  border: 1px solid rgb(193, 193, 193);
  padding: 10px 20px;
  font-size: 15px;
}
.hf-input {
  border: 1px solid rgb(178, 178, 178);
  padding: 10px 20px;
  color: #e9ad28;
  font-size: 16px;
}
.hf-btn {
  height: 100%;
  width: 120px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
}

/* About */

.about {
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-cont {
  position: relative;
  bottom: 14%;
  display: flex;
  align-items: center;
  gap: 30px;
}
.about-text {
  width: 570px;
  margin-top: 10%;
}
.about-h1 {
  font-family: "Barlow Condensed", sans-serif;
  color: #e9ad28;
  font-weight: 600;
  font-size: 20px;
}
.about-head {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0;
}
.about-para1 {
  font-family: "DM Sans", sans-serif;
  color: grey;
  margin-bottom: 20px;
}
.about-para2 {
  font-family: "DM Sans", sans-serif;
  color: grey;
}
.about-text > img {
  margin-top: 30px;
}
